/* Variables */
:root {
  --containerW: 900px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* # UTILS */

.debug,
.debug * {
  background-color: #ff000033;
  border: 2px dashed red;
  padding: 20px 0px;
}

.container {
  max-width: var(--containerW);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container.small {
  max-width: 800px;
}

.container.full {
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;

  margin-left: -1rem;
  margin-right: -1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-1-5 {
  width: calc(100% / 5);
}

.col-1-6 {
  width: calc(100% / 6);
}

.col-1-8 {
  width: calc(100% / 8);
}

.col-2-3 {
  width: calc(100% / 3 * 2);
}

.col-3-4 {
  width: calc(100% / 4 * 3);
}

.btn {
  background-color: #0161fe;
  color: white;
  padding: 5px 10px;
  border: 1px solid transparent;
}

.btn.big {
  padding: 10px 10px;
  font-size: 0.7rem;
}

.btn:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid gray;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}

/* HEADER */

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

div[class*="header"] {
  display: flex;
  align-items: center;
}

.header-left {
  gap: 20px;
}

.page-header ul li {
  min-width: 100px;
  text-align: center;
  font-size: 0.8rem;
}

.page-header li a:hover {
  text-decoration: underline;
  transition: 2s;
}

/* MAIN */

/* HERO SECTION */

#hero {
  background-color: #b4d0e6;
}

#hero .container {
  position: relative;
  top: 50px;
}

#hero .col-1-4 {
  display: flex;
  flex-direction: column;
}

#hero h1 {
  font-size: 3.5rem;
  font-weight: bold;
  max-width: 90%;
}

#hero p {
  font-size: 0.8rem;
}

#hero span.calcel {
  font-size: 0.8rem;
}

#hero span.down-arrow {
  font-size: 2.5rem;
  margin-top: auto;
}

/*************************** BUSINESS PLAN *************************/

/* BILLING METHOD */

#business-plan .container {
  padding-top: 100px;
}
#business-plan .container ul li,
#business-plan .container span {
  display: block;
}

.container .option {
  display: flex;
  gap: 20px;
}

.container .first-option,
.container .last-option {
  display: flex;
  gap: 10px;
  align-items: center;
}

#business-plan .radio {
  border: 1px solid black;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

#business-plan .radio.selected {
  border: 4px solid #0161fe;
}

/* CARD BUSINESS PLAN */

#business-plan .card-plan {
  border: 1px solid lightgray;
  min-height: 100%;
  position: relative;
  background-color: white;
}

#business-plan .card-plan:hover {
  transform: scale(1.07);
  transition: 1s;
  box-shadow: 0px 2px 7px 3px #c4c3c3;
}

#business-plan .card-plan .card-content {
  padding: 20px 20px;
}

#business-plan .card-plan .header-card {
  border-bottom: 1px solid lightgray;
  padding: 5px 0;
  font-size: 0.8rem;
}

#business-plan .card-plan .work-group {
  text-align: center;
}

#business-plan .card-content .title {
  font-size: 1.3rem;
}

#business-plan .card-content .price {
  font-size: 0.6rem;
  font-weight: bolder;
  display: block;
}

#business-plan .card-content .billing-method {
  font-size: 0.6rem;
  color: lightgray;
  display: block;
}

#business-plan .plan-details {
  min-height: 7.5rem;
}

#business-plan .card-content ul li {
  display: flex;
  gap: 5px;
  font-size: 0.6rem;
  padding: 0.5rem 0;
}

#business-plan .card-content .btn {
  width: 100%;
}

#business-plan .buy-now span {
  font-size: 0.7rem;
}

#business-plan .buy-now a {
  text-decoration: underline;
  color: blue;
}

#business-plan .feature-details i {
  color: #0362ff;
  font-weight: bold;
}

#business-plan .card-plan .border {
  border-top: 1px solid lightgray;
  width: 30%;
}

#business-plan .card-sales .price {
  font-size: 0.8rem;
}

#business-plan .card-plan p {
  font-size: 0.7rem;
}

/* FIND PARTNER */

#find-partner .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

#find-partner .col-1-3 {
  padding: 50px 30px;
  align-items: center;
}

#find-partner p {
  font-size: 0.8rem;
}

#find-partner .btn {
  border: 1px solid gray;
  padding: 10px 10px;
  background-color: white;
  color: #000;
}

#find-partner .btn:hover {
  background-color: #0161fe;
  color: white;
  border: 1px solid transparent;
}

/* FEATURES */

#features .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

#features p {
  font-size: 0.8rem;
}

/* MORE INFO */

#more-info .clients {
  padding-top: 50px;
  padding-bottom: 50px;
}

#more-info a {
  text-decoration: underline;
  color: #0161fe;
  font-size: 0.8rem;
}

/* PARTNERS */
#partners .col-1-2 {
  padding: 0;
}

#partners .row {
  row-gap: 0;
  height: 100%;
}

#partners .col-1-2 {
  aspect-ratio: 1;
}
#partners .col-1-3 {
  aspect-ratio: 1;
  overflow: auto;
}
/* MAIN PARTENERS */

#partners .main-partners {
  background-color: #f5f5f5;
  min-height: 100%;
  padding: 40px 40px;
  margin-left: -1rem;
  margin-right: -1rem;
}

#partners .main-partners .border {
  border-top: 1px solid gray;
  width: 30%;
}

#partners .main-partners p,
#partners .main-partners span {
  font-size: 0.8rem;
}

/* SEZIONE CSS SVILUPPATA SOLO PERCHE' NON AVEVO A DISPOSIZIONE LE IMMAGINI */
#partners .col-1-3:first-child .col-1-2:nth-child(1) {
  background-color: #a2d39b;
}
#partners .col-1-3:first-child .col-1-2:nth-child(2) {
  background-color: #0093ce;
}
#partners .col-1-3:first-child .col-1-2:nth-child(3) {
  background-color: #62092b;
}
#partners .col-1-3:first-child .col-1-2:nth-child(4) {
  background-color: #ff1b1c;
}
#partners .col-1-3:last-child .col-1-2:nth-child(1) {
  background-color: #d50020;
}
#partners .col-1-3:last-child .col-1-2:nth-child(2) {
  background-color: #b4d0e7;
}
#partners .col-1-3:last-child .col-1-2:nth-child(3) {
  background-color: #0d2481;
}
#partners .col-1-3:last-child .col-1-2:nth-child(4) {
  background-color: #ffd830;
}
/* fine sezione dedicata ai colori perchè immagini assenti */

/* TRIAL */
#trial {
  background-color: #b4d0e7;
  padding: 50px 0;
}

#trial .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#trial h2 {
  display: inline-block;
  font-size: 2rem;
}

#trial .btn {
  border: 1px solid gray;
  padding: 10px 50px;
  background-color: white;
  color: #000;
}

#trial .btn:hover {
  background-color: #0161fe;
  color: white;
  border: 1px solid transparent;
}

/* FOOTER */

footer {
  background-color: black;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer ul li {
  display: block;
  font-size: 0.8rem;
  padding: 10px 0;
  color: lightgray;
}

footer .container .border {
  border-top: 1px solid lightgray;
}

.container .languages {
  color: lightgray;
}
